<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - 401</title>
</head>
<body>
    <p class="text">Unauthorized 401</p>
    <a class="login" href="/auth">Login with discord</a>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

    *{
        margin: 0;
        padding: 0;
        background-color: #282828;
        font-family: 'Be Vietnam Pro';
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text{
        color: white;
        margin-top: 100px;
        font-size: 30px;
    }
    .login{
        margin-top: 10px;
        color: white;
        background-color: olivedrab;
        padding: 1rem 1.3rem;
        border-radius: 15px;
        transition: 0.8s ease-in-out;
        text-decoration: none;
    }
    .login:hover{
        background-color: antiquewhite;
        color: black
    }
</style>
</html>