<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - page</title>
</head>
<body>
        <p class="title">404 - Page</p>
</body>
<script>
    setTimeout(() => {
        window.location.replace('/')
    }, 2000)
</script>
<style>
     @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

    *{
        margin: 0;
        padding: 0;
        background-color: #282828;
        font-family: 'Be Vietnam Pro';
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title{
        color: white;
        margin-top: 30px;
        font-size: 25px;
    }
</style>
</html>